.tesk_event{
    margin-top: 87px;
    .info-card{
            padding: 30px 20px;
            box-shadow: 2px 2px 19px 1px #0000001a;
            border-radius: 10px;
            margin: 30px 0;
        img{
            width: 100%;
        }
        .custom-btn{
            float: right;
            position: relative;
            top: 172px;
        }
    }
}